@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:500,600|Kanit:400|Hind:400|Abel:400|Roboto:400|Sarabun:400,700|Nunito:700");
@font-face {
  font-family: "Arial-NarrowBold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Arial-NarrowBold") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
