:root { 
  --abbey: #4e4e4e;
  --aquamarine: #4dffde;
  --black: #000000;
  --blueberry: #3d8af7;
  --cararra: #ebebeb;
  --catskill-white: #eff3f9;
  --coconut: #fcfcff;
  --deep-cove: #0f123f;
  --egg-sour: #fff2de;
  --electric-violet: #7517f8;
  --french-gray: #babec6;
  --geebung: #d48f34;
  --grayscalebg: #f6f7fb;
  --grayscalegray1: #8fa7b4;
  --grayscalegray2: #b8c7d2;
  --grayscalegray3: #dfe6ee;
  --grayscalegray4: #eaeef2;
  --magenta--fuchsia: #e323ff;
  --moody-blue: #7f7fd5;
  --mountain-mist: #979797;
  --paletteblue1: #36a1ea;
  --paletteblue2: #4ab4fc;
  --palettelightblue: #f2f7fa;
  --palettetext: #2a4657;
  --palettewhite: #ffffff;
  --systeminfo: #209cee;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12.8px;
  --font-size-s2: 12px;
  --font-size-xl: 17.3px;
  --font-size-xl2: 18px;
  --font-size-xxl2: 20px;
  --font-size-xxxl2: 24px;
  --font-size-xxxxl: 30px;
 
  --font-family-abel: "Abel", Helvetica;
  --font-family-arial-narrowbold: "Arial-NarrowBold", Helvetica;
  --font-family-hind: "Hind", Helvetica;
  --font-family-kanit: "Kanit", Helvetica;
  --font-family-nunito: "Nunito", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-sarabun: "Sarabun", Helvetica;
}
